

@tailwind base;
@tailwind components;
@tailwind utilities;

.content-container {
  width: 100%;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
  margin-top: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


a{
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid white;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    background-color: white;
    color: #1a2a6c;
    transition: background-color 0.3s;
}

.tab{
  color: white;
  text-decoration: none;
  font-size: 1em;
  margin-bottom: 15px;
  padding: 12px 20px;
  display: block;
  transition: background-color 0.3s;
  border: none;
  border-bottom: solid 2px;
}

/*.tab:hover {*/
/*  border-bottom-color: #7c9fff;*/
/*  background-color: #151847;*/
/*  color: #fff;*/
/*}*/

.tab:hover {
  border-bottom-color: #6c88da;
  background-color: white;
  color: #151847;
}

.tab.active{
    border-bottom-color: #7c9fff;
    background-color: #151847;
    color: #fff;
}


