@import "tailwindcss";
body {
  background: linear-gradient(135deg, #1a2a6c, #151521, #020202);
  color: white;
  font-family: 'Comfortaa', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
